<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="infoLogs"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/cus/cus_info.log" />
		<param name="threshold" value="info" />
		<param name="MaxFileSize" value="10000KB" /> 
  		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{ISO8601}] [%p] %m (%F:%L)%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="info" />
		</filter>
	</appender>
	<appender name="debugLogs"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/cus/cus_debug.log" />
		<param name="threshold" value="debug" />
		<param name="MaxFileSize" value="10000KB" /> 
  		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{ISO8601}] [%p] %m (%F:%L)%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
			<param name="LevelMax" value="debug" />
		</filter>		
	</appender>
		<appender name="errorLogs"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/cus/cus_error.log" />
		<param name="threshold" value="warning" />
		<param name="MaxFileSize" value="10000KB" /> 
  		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{ISO8601}] [%p] %m (%F:%L)%n" />
		</layout>	
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="fatal" />
		</filter>		
	</appender>
		<appender name="allLogs"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/cus/cus_all.log" />
		<param name="threshold" value="warning" />
		<param name="MaxFileSize" value="10000KB" /> 
  		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{ISO8601}] [%p] %m (%F:%L)%n" />
		</layout>		
	</appender>

	<root>
		<priority value="debug"></priority>
		<appender-ref ref="infoLogs" />
		<appender-ref ref="debugLogs" />
		<appender-ref ref="errorLogs" />			
		<appender-ref ref="allLogs" />		
	</root>
</log4j:configuration>